* {
  font-family: "Menlo";
}

*:focus {
  outline: none;
}


body {
  background-color: #f0f0f0;
}

hr {
  margin: 0px;
}

.container {
  background: transparent;
  margin: 0 auto;
  max-width: 960px;
  padding: 10px;
}

.full-width {
  width: 100%;
  display: block;
}

.cols-container {
  display: table;
  width: 100%;
  height: 80vh;
}

.cols-row {
  display: table-row;
}

.col-left {
  display: table-cell;
  width: 35%;
  position: relative;
  border-right: solid 3px #2d2d2d;
}

.col-right {
  height: 100%;
  width: 65%;
  display: table-cell;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.notes-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  height: 80%;
  overflow-y: scroll;
  position: relative;
}

.header-container {
  background-color: #fff;
  padding: 10px;
  height: 10%;
}

.title {
  display: inline;
}

.toolbar {
  display: inline-block;
  float: right;
}

.editor-container {
  height: 90%;
  /*width: 100%;*/
  background-color: #fff;
  padding: 10px;
}

.title-text {
  width: 70%;
  padding: 10px;
  resize: none;
  background-color: #fff;
  font-weight: 600;
  font-size: 18px;
  border: 0px;
}

.textarea {
  height: 90%;
  width: 90%;
  padding: 10px;
  font-size: 14px;
  resize: none;
  background-color: #fff;
  border: 0px;
}

.link {
  text-decoration: none;
  color: #737379;
}

.link:hover {
  color: #2d2d2d;
}

.list-item {
  border-bottom: 1px solid #fff;
  padding: 10px;
  max-height: 100vh;
}

.list-item:hover {
  background-color: #fff;
}
